<html>
{% load staticfiles %}
{% load solo_tags %}
{% load tags  %}
   <head>
      <title>Skiddiemonkeys</title>
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen"/>
   </head>
   <body>
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
	<a class="navbar-brand" href="#">Skiddiemonkeys</a>
</div>
<div>
<ul class="nav navbar-nav">
<li class="active"><a href="/client">Client</a></li>
<li><a href="/monkeys">Monkeys</a></li>
<li><a href="/results">Results</a></li>
</ul>
</div>
</div>
</nav>

<div id="settingsDiv" style="float:left; margin-left:5%; width:40%">
<h3>Client Settings</h3>
{% if form.errors %}
	<p style="color: red;">
		Please correct the error{{ form.errors|pluralize }} below.
	</p>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
   <table>
      {{ form.as_table }}
   </table>
{% csrf_token %}
<input type="submit" value="Save">
{% if error  %}
<h4>{{ error|get_error  }} </h4>
{%  endif %}

</form>
</div>
<div id="runDiv" style="float:left; width:40%; margin-right:5%">
<h3>Release Monkeys</h3>
<form action="#" method="get">
   <table>
   <tbody>
   <tr>
   <th>
      <label for="dur">Run For(minutes):</label>
   </th>
   <td>
   <input id="dur" type="text" name="duration"  size="3"/>
   </td>
    </tr>
   </tbody>
   </table>
   <input type="submit" value="GO!" name="btnStart"/>
  

</form>
</div>
   </body>
</html>
